<section ng-controller="DecisionsController">
  <div class="page-header">
    <h1>Input Matrix</h1>
  </div>
  <div class="body">
    <!--<form ng-controller="DecisionsController">-->

    <div class="form-inline">
      <div class="form-group">
        <label for="nLin">Alternatives:</label>
        <input id="nLin" class="form-control" type='number' max="12" ng-model='nLin'>
      </div>
      <div class="form-group">
        <label for="nCol">Criteria:</label>
        <input id="nCol" class="form-control" type='number' max="12" ng-model='nCol'>
      </div>
      <button class="btn btn-default" ng-click="inputDimension()">Ok</button>
    </div>

    <br>

    <div class="form-group">
      <h2>Methods:</h2>
      <h3>Add Method:</h3>
      <div class="form-inline">
        <div class="form-group">
          <label for="method">Method:</label>
          <select id="method" ng-model="methodInput.method">
            <option value="todim">TODIM</option>
            <option value="topsis">TOPSIS</option>
          </select>
        </div>
        <div class="form-group" ng-show="methodInput.method == 'todim'">
          <label for="theta">Theta:</label>
          <input id="theta" class="form-control" type='number' min="0.1" max="10" step="0.1" ng-model='methodInput.theta'>
        </div>
        <button class="btn btn-default" ng-click="inputMethod()">Ok</button>
      </div>
    </div>


      <div class="form-horizontal">
        <h2>Alternatives</h2>
        <div class="form-inline" ng-repeat="alternative in matrix.alternatives">
          <input type="text" ng-model="alternative.name" placeholder="Alternative Name">
        </div>
      </div>

      <div class="form-horizontal">
        <h2>Criterion</h2>
        <div class="form-inline row">
          <h4 class="col-md-2">Criterion Name</h4>
          <h4 class="col-md-2">Criterion Weight</h4>
          <h4 class="col-md-1">Benefit</h4>
          <h4 class="col-md-2">Data Type</h4>
        </div>
        <div class="form-inline row" ng-repeat="criterion in matrix.criteria">
          <input class="col-md-2" type="text" ng-model="criterion.name" placeholder="Criterion Name">
          <input class="col-md-2" type="number" step="any" ng-model="criterion.weight" max="1.0" min="0" placeholder="Criterion Weight">
          <input class="col-md-1" type="checkbox" data-ng-model="criterion.benefit">
          <select class="col-md-2" name="type" id="type" ng-model="criterion.type">
            <option ng-repeat="option in valueOptions" value="{{option.name}}">{{option.showName}}</option>
          </select>
        </div>
      </div>

      <div class="form-horizontal">
        <h2>Decision Matrix</h2>
        <div class="form-inline" ng-repeat="line in matrix.evaluation">
          <div class="row">
            <!--<input class="col-sm-1" ng-repeat="col in line track by $index"type="number" step="any" ng-model="line[$index]">-->
            <select class="col-sm-1" ng-options="option.value as option.abbreviation for option in listValues | filter:{ type : matrix.criteria[$index].type}" ng-repeat="col in line track by $index" ng-model="line[$index]">
            </select>
          </div>
        </div>
      </div>

      <br>

    <div class="form-horizontal">
      <h2>Tunning Matrix</h2>
      <div class="form-inline" ng-repeat="line in matrix.evaluation">
        <div class="row">
          <button class="btn btn-default col-sm-1" ng-repeat="col in line track by $index" ng-model="line[$index]">{{line[$index]}}
          </button>
        </div>
      </div>
    </div>



      <!--<input ng-repeat="field in matrix.fields track by $index" type='text' ng-model='matrix.fields[$index]' placeholder='Field:'>-->
      <div>
        <button class="btn btn-default" type='submit' ng-click="submitTable()">Submit</button>
      </div>

      <!--<div ng-repeat="alt in sortRes">-->
        <!--<div class="row">-->
          <!--<div class="col-md-3">{{alt.name}}</div>-->
          <!--<div class="col-md-3">{{alt.coefficient}}</div>-->
        <!--</div>-->

      <!--</div>-->

      <div>
        <canvas id="bar" class="chart chart-bar"
                chart-data="coefficients" chart-labels="labels" chart-series="series">
        </canvas>
      </div>

      <br> <br>
      <pre>{{ matrix | json }}</pre>
      <br> <br>
      <pre>{{ res | json }}</pre>
    <!--</form>-->
  </div>
</section>
