<section ng-controller="DecisionsController">
  <div class="page-header">
    <h1>Input Matrix</h1>
  </div>
  <div class="body">
    <!--<form ng-controller="DecisionsController">-->

    <form class="form-inline" name="vm.form.formAltCrit">
      <div class="form-group">
        <label for="nLin">Alternatives:</label>
        <input ng-disabled="state !== 0" name="nLin" id="nLin" class="form-control" type='number' min="2" max="12" ng-model='nLin' required>
      </div>
      <div class="form-group">
        <label for="nCol">Criteria:</label>
        <input ng-disabled="state !== 0" name="nCol" id="nCol" class="form-control" type='number' min="1" max="12" ng-model='nCol' required>
      </div>
      <button ng-show="state === 0" class="btn btn-default" ng-click="inputDimension(vm.form.formAltCrit.nLin.$valid && vm.form.formAltCrit.nCol.$valid)">Ok</button>
      <button ng-show="state === 1" class="btn btn-default" type='submit' ng-click="voltar()">Voltar</button>
    </form>

    <br>

    <form class="form-group" ng-show="state >= 1">
      <h2>Methods:</h2>
      <h3>Add Method:</h3>
      <div class="form-inline">
        <div class="form-group">
          <label for="method">Method:</label>
          <select ng-disabled="state !== 1" id="method" ng-model="methodInput.method">
            <option value="todim">TODIM</option>
            <option value="topsis">TOPSIS</option>
          </select>
        </div>
        <div class="form-group" ng-show="methodInput.method == 'todim'">
          <label for="theta">Theta:</label>
          <input ng-disabled="state !== 1" id="theta" class="form-control" type='number' min="0.1" max="10" step="0.1" ng-model='methodInput.theta'>
        </div>
        <button class="btn btn-default" ng-click="inputMethod()" ng-disabled="matrix.methodOptions.length >= 5 || state !== 1">Ok</button>
      </div>
      <h3 ng-show="matrix.methodOptions.length > 0">Resgistered methods</h3>
      <div class="row" ng-repeat="option in matrix.methodOptions track by $index">
        <h4 class="col-md-2"><small>{{option.method}}</small></h4>
        <h4 class="col-md-2" ng-show="option.method=='todim'"><small>Theta: {{option.theta}}</small></h4>
        <button class="col-md-1 glyphicon glyphicon-remove" ng-click="deleteMethodOption($index)" ng-disabled="state !== 1"></button>
      </div>
    </form>

    <div class="form-horizontal" ng-show="state >= 1">
      <h2>Alternatives</h2>
      <div class="form-inline" ng-repeat="alternative in matrix.alternatives">
          <input name="altName" ng-disabled="state !== 1" type="text" ng-model="alternative.name" placeholder="Alternative Name" required>
      </div>
    </div>

    <div class="form-horizontal" ng-show="state >= 1">
      <h2>Criterion</h2>
      <div class="form-inline row">
        <h4 class="col-md-2">Criterion Name</h4>
        <h4 class="col-md-2">Criterion Weight</h4>
        <h4 class="col-md-1">Benefit</h4>
        <h4 class="col-md-2">Data Type</h4>
      </div>
      <div class="form-inline row" ng-repeat="criterion in matrix.criteria">
        <input ng-disabled="state !== 1" class="col-md-2" type="text" ng-model="criterion.name" placeholder="Criterion Name">
        <input ng-disabled="state !== 1" class="col-md-2" type="number" step="any" ng-model="criterion.weight" max="1.0" min="0" placeholder="Criterion Weight">
        <input ng-disabled="state !== 1" class="col-md-1" type="checkbox" data-ng-model="criterion.benefit">
        <select ng-disabled="state !== 1" class="col-md-2" name="type" id="type" ng-model="criterion.type">
          <option ng-repeat="option in valueOptions" value="{{option.name}}">{{option.showName}}</option>
        </select>
      </div>
    </div>

    <div class="form-horizontal" ng-show="state == 1">
      <button class="btn btn-default" type='submit' ng-click="okAlternativeAndCriteria()">Ok</button>
    </div>

    <div class="form-horizontal" ng-show="state == 2">
      <button class="btn btn-default" type='submit' ng-click="voltar()">Voltar</button>
    </div>

    <div class="form-horizontal" ng-show="state >= 2">
      <h2>Decision Matrix</h2>
      <div class="form-inline" ng-repeat="line in evaluationAux">
        <div class="row">
          <!--<input class="col-sm-1" ng-repeat="col in line track by $index"type="number" step="any" ng-model="line[$index]">-->
          <select ng-disabled="state !== 2" class="col-sm-1" ng-options="option as option.abbreviation for option in listValues | filter:{ type : matrix.criteria[$index].type}" ng-repeat="col in line track by $index" ng-model="line[$index]">
          </select>
        </div>
      </div>
    </div>

    <div class="form-horizontal" ng-show="state == 2">
      <button class="btn btn-default" type='submit' ng-click="okOptions()">Ok</button>
    </div>

    <div class="form-horizontal" ng-show="state == 3">
      <button class="btn btn-default" type='submit' ng-click="voltar()">Voltar</button>
    </div>

    <br>

    <div class="form-horizontal" ng-show="state >= 3">
      <h2>Tunning Matrix</h2>
      <div class="form-inline" ng-repeat="line in matrix.evaluation track by $index">
        <div class="row">
          <button class="btn btn-default col-sm-1" ng-repeat="col in line track by $index" ng-click="openTunning(matrix.criteria[$index],line[$index])">{{evaluationAux[$parent.$index][$index].abbreviation}}
          </button>
        </div>
      </div>
    </div>

    <div>
      <button ng-show="state == 3" class="btn btn-default" type='submit' ng-click="submitTable()">Submit</button>
    </div>

    <div class="form-horizontal" ng-show="state == 4">
      <button class="btn btn-default" type='submit' ng-click="voltar()">Voltar</button>
    </div>

    <div ng-show="state >= 4">
      <h2>Results</h2>
      <div class="row">
        <h3 class="col-md-1"><small>Alternative</small></h3>
        <div class="col-md-2 text-center" ng-repeat="option in matrix.methodOptions">
          <h3 ng-show="option.method == 'topsis'"><small>TOPSIS</small></h3>
          <h3 ng-show="option.method == 'todim'"><small>TODIM &Theta; = {{option.theta}}</small></h3>
        </div>
      </div>
      <div class="row">
        <h3 class="col-md-1"><small></small></h3>
        <div class="col-md-2" ng-repeat="option in matrix.methodOptions">
          <h4 ng-show="option.method == 'topsis'" class="col-md-6 text-center">Coef.</h4>
          <h4 ng-show="option.method == 'todim'" class="col-md-6 text-center">&epsilon;</h4>
          <h4 class="col-md-6> text-center">Position</h4>
        </div>
      </div>
      <div class="row" ng-repeat="alternative in matrix.alternatives">
        <h3 class="col-md-1"><small>{{alternative.name}}</small></h3>
        <div class="col-md-2" ng-repeat="method in res">
          <h4 class="col-md-6 text-center">{{method.closeness[$parent.$index].coefficient.toFixed(2)}}</h4>
          <h4 class="col-md-6 text-center">{{rankCloseness(method.closeness, method.closeness[$parent.$index])}}</h4>
        </div>
      </div>
      <h3>Results Chart</h3>
      <div class="row form-inline">
        <div class="radio">
          <label><input type="radio" ng-model="graphToShow" value="bar">Bar Chart</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="graphToShow" value="radar">Radar Chart</label>
        </div>
      </div>
      <canvas id="bar" class="chart chart-bar" ng-show="graphToShow === 'bar'"
              chart-data="coefficients" chart-labels="labels" chart-series="series">
      </canvas>

      <canvas id="radar" class="chart chart-radar" ng-show="graphToShow === 'radar'"
              chart-data="coefficients" chart-labels="labels" chart-series="series">
      </canvas>
    </div>

    <br> <br>
    <pre>{{ matrix | json }}</pre>
    <br> <br>
    <pre>{{ res | json }}</pre>
    <!--</form>-->
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Tunning value</h3>
    </div>
    <div class="modal-body">
      <h2>{{type.type}}</h2>
      <h2>{{value}}</h2>

      <div class="row" ng-click="clickCrispSlider()">
        <multi-slider name="crispSlider"
                      floor="0"
                      step="0.01"
                      ceiling="1"
                      bubbles="true"
                      ng-model="crispSlider"
                      style="margin-top:120px"
                      control="ctrlCrispSlider"
                      ng-show="type.type == 'crisp'"
                      ng-click="clickCrispSlider()">
        </multi-slider>
      </div>

      <div class="row" ng-click="clickIntervalSlider()">
        <multi-slider name="intervalSlider"
                      floor="0"
                      step="0.01"
                      ceiling="1"
                      bubbles="true"
                      ng-model="intervalSlider"
                      style="margin-top:120px"
                      control="ctrlIntervalSlider"
                      ng-show="type.type == 'interval'"
                      ng-click="clickIntervalSlider()">
        </multi-slider>
      </div>

      <c3chart ng-show="type.type == 'z-number' || type.type == 'fuzzy'" bindto-id="fuzzyGraph" chart-data="linePoints" chart-columns="lineColumns" chart-x="datax"></c3chart>

      <!--<div class="row" ng-click="clickFuzzySlider()">-->
      <multi-slider name="fuzzySlider"
                    floor="0"
                    step="0.01"
                    ceiling="1"
                    bubbles="true"
                    ng-model="fuzzySlider"
                    style="margin-top:120px"
                    control="ctrlFuzzySlider"
                    ng-show="type.type == 'fuzzy' || type.type == 'z-number'"
                    ng-click="clickFuzzySlider()">
      </multi-slider>
      <!--</div>-->

      <c3chart ng-show="type.type == 'z-number'" bindto-id="zGraph" chart-data="linePointsZ" chart-columns="lineColumnsZ" chart-x="datax"></c3chart>

      <div class="row" ng-click="clickZrelSlider()">
        <multi-slider name="ZrelSlider"
                      floor="0"
                      step="0.01"
                      ceiling="1"
                      bubbles="true"
                      ng-model="ZrelSlider"
                      style="margin-top:120px"
                      control="ctrlZrelSlider"
                      ng-show="type.type == 'z-number'"
                      ng-click="clickZrelSlider()">
        </multi-slider>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

</section>


