<section>
  <div class="page-header">
    <h1 data-ng-bind="value.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="value.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="values.edit({ valueId: value._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="value.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="value.user"
            data-ng-bind="value.user.displayName"></span>
      <span data-ng-if="!value.user">Deleted User</span>
    </em>
  </small>

  <p class="lead">
    Value Type: {{value.type}}
  </p>

  <p class="lead" ng-show="value.type == 'crisp'">
    Values = {{value.value[0]}}
  </p>

  <p class="lead" ng-show="value.type == 'interval'">
    Values = [{{value.value[0]}}, {{value.value[1]}}]
  </p>

  <p class="lead" ng-show="value.type == 'fuzzy'">
    Values = ({{value.value[0]}}, {{value.value[1]}}, {{value.value[2]}})
  </p>
</section>
